/* global */
a {
    color: #4d87ce;
}

th, td {
    border-color: #999;
}

table.noborder th, table.noborder td {
    border: none;
}

/* header */
#title h1 {
    font-size: 200%;
    color: #BACE87;
    letter-spacing: .1em;
    margin: 0.6em 0.5em 0 0;
    float: left;
}

#title h1:first-letter {
    font-size: 120%;
    color: #658A16;
}

#title h1 a {
    text-decoration: none;
}

div .clear {
    clear: both;
}

#menu {
    margin-top: 1em;
}

#menu ul {
    margin: 0;
    padding-top: 0;
    font-weight: bold;
    background: #BACE87;    
}

#menu ul li {
    padding: 1em 0 1em 0;
	list-style-type: none;
    float: left;
}

#menu a:link, a:visited {
    border-top: 4px solid #658A16;
    border-bottom: 2px solid #658A16;
    padding: 1em 104px 1em 104px;
    text-decoration: none;
    color: #658A16;
    background: #BACE87;
}

#menu a:hover, a:active {
    color: ghostwhite;
    background: #658A16;
}

/* body */

/* footer */
#ft {
    margin-top: 15px;
    padding: 15px 0 0 0;
    font-size: 95%;
    text-align: center;
    border-top: 2px solid #658A16;
}

#ft a {
    color: #999;
}